@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
    /* background-color: white; */
}
.fonts{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    

}
.navbar-width{


    margin-bottom: 5px;
    margin-top: 5px;
}
 /* .grid{
    
    padding-bottom: 80px;
    position: fixed;
    
}  */

.player{
    align-items: center;
    margin: auto;
}


video,
iframe {
  width: 100% !important;
  height:100%!important;
}

main {
  background: white;
  height: 90vh;
  max-width: 100vw;
  margin-top: 50px;
  padding: 1rem;
}

.vitrine{
    height: 400px;
    max-width: 100vw;
    margin-top: 50px;

}
.vitrine h1
{
    color: white;
    font-size: 50px;
    align-items: center;
    text-align:center;
    margin: auto;
    position: relative;
    top: 100px;
}
.vitrine p{
    align-items: center;
    text-align:center;
    margin: auto;
    position: relative;
    top: 110px;
    color: white;

}

.slider-top{
position: relative;
height:100vh;
overflow: hidden;
z-index: -1;
background-color: white;
}

.slider-fix{
position: fixed;
}

